$color-red: #f5454b; $color-green: #2bb673;
$color-blue: #5abdbb; $color-black: #2f2f2f;

*, *:before, *:after { box-sizing: border-box; }
body { background: #e5e5e5; }
#content {
  position: relative;
  max-width: 960px;
  padding: 25px; margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .item {
    position: relative;
    width: 325px; min-height: 250px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 0 0 3px #fff, 0 1px 3px 3px rgba(#000,0.3);
    img { max-width: 100%; height: 100%; display: block; }
    .slider {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      display: none;
    }
    &.red .slider { background: rgba($color-red,0.8); }
    &.green .slider { background: rgba($color-green,0.8); }
    &.blue .slider { background: rgba($color-blue,0.8); }
    &.black .slider { background: rgba($color-black,0.8); }
  }
}