#content
  .item.red
    %img{:src=>'https://unsplash.it/325/250?image=0'}
  .item.green
    %img{:src=>'https://unsplash.it/325/250?image=1'}
  .item.blue
    %img{:src=>'https://unsplash.it/325/250?image=2'}
  .item.black
    %img{:src=>'https://unsplash.it/325/250?image=3'}