/* reset */
* {
  margin: 0;
  padding: 0;
}
/* make things look nice */
body {
  background: #eee;
  font-family: sans-serif;
  line-height: 1.5;
  color: #555;
}
p {
  margin-top: 16px;
}
h1 a {
  text-decoration: none;
  color: #111;
}
/* article base */
article {
  width: 60%;
  max-width: 720px;
  margin: 48px auto;
  padding: 48px;
  background: #fff;
  box-shadow: -3px 3px rgba(0, 0, 0, 0.1);
}
/* wrap-around */
.wrap-around {
  position: relative;
  display: inline-block;
  margin-top: 16px;
  padding: 10px 24px 10px 48px;
  margin-left: -48px;
  background: #ff0000;
  color: #fff;
  text-decoration: none;
}
.wrap-around:before {
  content: '';
  position: absolute;
  left: -6px;
  bottom: -3px;
  width: 6px;
  height: 44px;
  background: #800000;
  transform: skewY(-45deg);
}
.wrap-around:after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: -6px;
  width: 6px;
  height: 6px;
  background: #000000;
  z-index: -1;
}
.wrap-around:hover {
  background: #add8e6;
}
.wrap-around:hover:before {
  background: #4baac8;
}
.wrap-around:hover:after {
  background: #235e71;
}
