@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.rollovers {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 1em;
  text-align: center;
}
.rollovers li {
  position: relative;
  display: inline-block;
  width: 13em;
}
.rollovers li a {
  position: relative;
  z-index: 1;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  text-decoration: none;
  color: #000;
  padding: 4.7em 1em 1em;
}

.icon_contain {
  position: absolute;
  top: 3em;
  left: 50%;
  width: 4.375em;
  height: 4.375em;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.icon_contain .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: #fff;
  width: 35%;
  height: 35%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill 1s ease;
          transition: fill 1s ease;
}

.logo {
  position: absolute;
  width: 4.375em;
  height: 4.375em;
  top: 3em;
  left: 50%;
  fill: #eb3f32;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.icon_contain::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 73%;
  height: 73%;
  opacity: 1;
  background: #eb3f32;
  border-radius: .125em;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.logo_reveal .icon_contain::before {
  -webkit-transition: opacity 1s ease;
          transition: opacity 1s ease;
}
.logo_reveal:hover .icon_contain .icon {
  fill: #eb3f32;
}
.logo_reveal:hover .icon_contain::before {
  opacity: 0;
}

.logo_grow .logo {
  -webkit-transform: translateX(-50%) scale(0);
      -ms-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  -webkit-transition: -webkit-transform 1s ease;
          transition: transform 1s ease;
}
.logo_grow .icon_contain::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
      -ms-transform: translate(-50%, -50%) rotate(45deg) scale(1);
          transform: translate(-50%, -50%) rotate(45deg) scale(1);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
          transition: opacity 1s ease, transform 1s ease;
}
.logo_grow:hover .logo {
  -webkit-transform: translateX(-50%) scale(1);
      -ms-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}
.logo_grow:hover .icon_contain .icon {
  fill: #eb3f32;
}
.logo_grow:hover .icon_contain::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
      -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
          transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
}

.logo_grow_alt .logo {
  -webkit-animation: grow_alt 1s reverse;
          animation: grow_alt 1s reverse;
  -webkit-transform: translateX(-50%) scale(0);
      -ms-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
}
.logo_grow_alt .icon_contain::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
      -ms-transform: translate(-50%, -50%) rotate(45deg) scale(1);
          transform: translate(-50%, -50%) rotate(45deg) scale(1);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
          transition: opacity 1s ease, transform 1s ease;
}
.logo_grow_alt:hover .logo {
  -webkit-animation: grow_alt .7s ease-out;
          animation: grow_alt .7s ease-out;
  -webkit-transform: translateX(-50%) scale(1);
      -ms-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}
.logo_grow_alt:hover .icon_contain .icon {
  fill: #eb3f32;
}
.logo_grow_alt:hover .icon_contain::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
      -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
          transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
}

@-webkit-keyframes grow_alt {
  0% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
  80% {
    -webkit-transform: translateX(-50%) scale(1.2);
            transform: translateX(-50%) scale(1.2);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}

@keyframes grow_alt {
  0% {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
  }
  80% {
    -webkit-transform: translateX(-50%) scale(1.2);
            transform: translateX(-50%) scale(1.2);
  }
  100% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}
.logo_rotate .logo {
  -webkit-transform: translateX(-50%) rotate(90deg);
      -ms-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
  -webkit-transition: -webkit-transform 1s ease;
          transition: transform 1s ease;
}
.logo_rotate .icon_contain::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
          transition: opacity .5s ease, transform .5s ease;
}
.logo_rotate:hover .logo {
  -webkit-transform: translateX(-50%) rotate(0);
      -ms-transform: translateX(-50%) rotate(0);
          transform: translateX(-50%) rotate(0);
}
.logo_rotate:hover .icon_contain .icon {
  fill: #eb3f32;
}
.logo_rotate:hover .icon_contain::before {
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
      -ms-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
  opacity: 0;
}

.logo_rotate_alt .logo {
  -webkit-animation: rotate_alt 1s reverse;
          animation: rotate_alt 1s reverse;
  -webkit-transform: translateX(-50%) scale(0);
      -ms-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
}
.logo_rotate_alt .icon_contain::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
      -ms-transform: translate(-50%, -50%) rotate(45deg) scale(1);
          transform: translate(-50%, -50%) rotate(45deg) scale(1);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
          transition: opacity 1s ease, transform 1s ease;
}
.logo_rotate_alt:hover .logo {
  -webkit-animation: rotate_alt .7s ease-out;
          animation: rotate_alt .7s ease-out;
  -webkit-transform: translateX(-50%) scale(1);
      -ms-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}
.logo_rotate_alt:hover .icon_contain .icon {
  fill: #eb3f32;
}
.logo_rotate_alt:hover .icon_contain::before {
  -webkit-transform: translate(-50%, -50%) rotate(135deg) scale(0);
      -ms-transform: translate(-50%, -50%) rotate(135deg) scale(0);
          transform: translate(-50%, -50%) rotate(135deg) scale(0);
  opacity: 0;
}

@-webkit-keyframes rotate_alt {
  0% {
    -webkit-transform: translateX(-50%) rotate(90deg) scale(0);
            transform: translateX(-50%) rotate(90deg) scale(0);
  }
  80% {
    -webkit-transform: translateX(-50%) rotate(-15deg) scale(1.2);
            transform: translateX(-50%) rotate(-15deg) scale(1.2);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(0) scale(1);
            transform: translateX(-50%) rotate(0) scale(1);
  }
}

@keyframes rotate_alt {
  0% {
    -webkit-transform: translateX(-50%) rotate(90deg) scale(0);
            transform: translateX(-50%) rotate(90deg) scale(0);
  }
  80% {
    -webkit-transform: translateX(-50%) rotate(-15deg) scale(1.2);
            transform: translateX(-50%) rotate(-15deg) scale(1.2);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(0) scale(1);
            transform: translateX(-50%) rotate(0) scale(1);
  }
}
.logo_grow_rotate .logo {
  -webkit-transform: translateX(-50%) rotate(90deg) scale(0);
      -ms-transform: translateX(-50%) rotate(90deg) scale(0);
          transform: translateX(-50%) rotate(90deg) scale(0);
  -webkit-transition: -webkit-transform 1s ease;
          transition: transform 1s ease;
}
.logo_grow_rotate .icon_contain::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
      -ms-transform: translate(-50%, -50%) rotate(45deg) scale(1);
          transform: translate(-50%, -50%) rotate(45deg) scale(1);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
          transition: opacity 1s ease, transform 1s ease;
}
.logo_grow_rotate:hover .logo {
  -webkit-transform: translateX(-50%) rotate(0) scale(1);
      -ms-transform: translateX(-50%) rotate(0) scale(1);
          transform: translateX(-50%) rotate(0) scale(1);
}
.logo_grow_rotate:hover .icon_contain .icon {
  fill: #eb3f32;
}
.logo_grow_rotate:hover .icon_contain::before {
  -webkit-transform: translate(-50%, -50%) rotate(135deg) scale(0);
      -ms-transform: translate(-50%, -50%) rotate(135deg) scale(0);
          transform: translate(-50%, -50%) rotate(135deg) scale(0);
  opacity: 0;
}

.grid li {
  width: 50%;
  padding: 3em 0;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.grid li:nth-child(2n) {
  border-right: none;
}

.grid li:last-child {
  border-bottom: none;
}

.grid li:nth-last-child(2) {
  border-bottom: none;
}

@media (min-width: 45em) {
  .grid li {
    width: 33.333333%;
  }

  .grid li:nth-child(2n) {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }

  .grid li:nth-child(3) {
    border-right: none;
  }

  .grid li:last-child {
    border-right: none;
    border-bottom: none;
  }

  .grid li:nth-last-child(2), .grid li:nth-last-child(3) {
    border-bottom: none;
  }
}
