.demo-container
  .demo-panel
    .spinner
      .bar-outer.right.top.b1
        .bar
      .bar-outer.down-left.b2
        .bar
      .bar-outer.down-right.b3
        .bar
      .bar-outer.down-left.b4
        .bar
      .bar-outer.right.bottom.b5
        .bar
      .bar-outer.up-left.b6
        .bar
      .bar-outer.up-right.b7
        .bar
      .bar-outer.up-left.b8
        .bar


