@import url(http://weloveiconfonts.com/api/?family=entypo);
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* entypo */
[class*="entypo-"]:before {
  font: 2.5em/1.9em 'entypo', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #333;
  background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/retina_wood.png);
}

.socialcount {
  padding: 0 2em;
  margin: 0 auto;
  margin-top: 4em;
}
.socialcount > li {
  width: 32.9%;
  border-radius: 0;
  transition: all .3s ease-in-out;
  margin: 0 0 2em 0;
  cursor: pointer;
}
.socialcount > li:hover [class*="entypo-"]:before {
  opacity: 0;
}
.socialcount iframe {
  transform: scale(1.65, 1.65);
}
.socialcount .button {
  top: 50%;
  margin: -.75em 0 0 0;
  height: 2em;
}
.socialcount .facebook {
  background: rgba(59, 89, 152, 0.7);
}
.socialcount.like .facebook iframe {
  width: 8em;
}
.socialcount .twitter {
  background: rgba(0, 172, 237, 0.7);
}
.socialcount .googleplus {
  background: rgba(172, 0, 0, 0.7);
}
