p {  
    font-size: 12px;  
}  
  
.thinborder {  
    border: 1px solid #ccc;  
    width: 190px;  
    height: 60px;  
    background: black;  
}  
  
.calcbuttons {  
    padding: 8px;  
}  
  
.numberbutton {  
    width: 40px;  
}  
  
.operationbutton {  
    width: 40px;  
}  
  
.clearbutton {  
    width: 40px;  
    background-color: green;  
    color: white;  
}  
  
.output {  
    background: black;  
    color: lime;  
    font-family: "Courier New", Courier;  
    padding: 0 10px;  
    text-align: right;  
    font-size: 14px;  
}  
  
.calcbody {  
    background: #306;  
    width: 210px;  
    padding: 10px;  
    box-shadow: 5px 5px 5px #888888;  
    border-radius: 12px;  
}  