body{
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
}

.container {
    text-align: center;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%
    max-width: 350px;
}

ul {
    list-style: none;
    padding: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    background: #1A759F;
    border-radius: 3px;
    transform: rotate(180deg);
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
}

li a {
    padding: 12px 0;
    display: block;
    transition: 0.25s;
}

li a:hover {
    background: #168AAD;
}

a {
    color: #fff;
    text-transform: upper-case;
    text-decoration: none;
}

i{
    padding: 20px;
    color: #fff;
    background: #184e77;
    border-radius: 3px;
    transition: .25s;
    animation: 1.25s bounce infinite;
}

i:hover {
    cursor: pointer;
    background: #1A759F;
    animation-play-state: paused;
}

ul.open {
    max-height: 480px;
    visibility: visible;
    opacity: 1;
    transform: rotate(0);
}

/* animation */
@keyframes bounce {
    0% {margin-top: 0;}
    50% {margin-top: -15px;margin-bottom: 15px;}
    100% {margin-top: 0;}
}




