each color in ['blue', 'red', 'yellow', 'orange', 'green', 'purple', 'light-grey', 'dark-grey']
  svg(
    class="logo #{color}",
    viewBox="0 0 100 100",
    xmlns="http://www.w3.org/2000/svg"
  )
    path.left(d="M 20 0 L 0 20 L 10 50 L 0 80 L 20 100 L 35 50 Z")
    path.right(d="M 80 0 L 100 20 L 90 50 L 100 80 L 80 100 L 65 50 Z")
    path.top(d="M 0 20 L 20 0 L 50 10 L 80 0 L 100 20 L 50 35 Z")
