body {
  /*background: url('http://static.tumblr.com/qjmxlem/9jln1ik8z/clouds.jpg') no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
}
.center-wrap {
  width: 1300px;
  margin: auto;
  clear: both;
  text-align: center;
}
.title-container {
  background-color: #2f2f42;
  display: inline-block;
  font-family: "Quicksand";
  text-shadow: 0px 1px rgba(0,0,0,0.3);
  font-size: 42px;
  height: 60px;
  line-height: 60px;
  margin-top: 100px;
}
.title {
  min-width: 150px;
  max-width: 750px;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  margin-left: -75px;
  margin-right: -75px;
  -webkit-animation: title-width .8s ease;
  -moz-animation: title-width .8s ease;
  -o-animation: title-width .8s ease;
  animation: title-width .8s ease;
}
.title a {
  color: white;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
}
.title a:hover {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}
@-webkit-keyframes title-width {
  0% { 
    margin-left: 100px;
    margin-right: 100px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    color: rgba(255,255,255,0.0);
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    color: rgba(255,255,255,0.0);
  }
}
@-moz-keyframes title-width {
  0% { 
    margin-left: 100px;
    margin-right: 100px;
    -moz-opacity: 0;
    opacity: 0;
    color: rgba(255,255,255,0.0);
  }
  50% {
    -moz-opacity: 0;
    opacity: 0;
    color: rgba(255,255,255,0.0);
  }
}
@-o-keyframes title-width {
  0% { 
    margin-left: 100px;
    margin-right: 100px;
    opacity: 0;
    color: rgba(255,255,255,0.0);
  }
  50% {
    opacity: 0;
    color: rgba(255,255,255,0.0);
  }
}
@keyframes title-width {
  0% { 
    margin-left: 100px;
    margin-right: 100px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    color: rgba(255,255,255,0.0);
  }
  50% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    color: rgba(255,255,255,0.0);
  }
}
.backflag-left, .backflag-right {
  background: #232332;
  width: 91px;
  height: 56px;
  position: relative;
  margin-top: 18px;
  z-index: -100;
  -webkit-animation: flag-back 1s ease;
  -moz-animation: flag-back 1s ease;
  -o-animation: flag-back 1s ease;
  animation: flag-back 1s ease;
}
.backflag-left {
  -webkit-transform: rotate(20deg) skew(20deg);
  -ms-transform: rotate(20deg) skew(20deg);
  transform: rotate(20deg) skew(20deg);
  float: left;
}
.backflag-right {
  -webkit-transform: rotate(-20deg) skew(-20deg);
  -ms-transform: rotate(-20deg) skew(-20deg);
  transform: rotate(-20deg) skew(-20deg);
  float: right;
}
@-webkit-keyframes flag-back {
  0% { 
    -webkit-transform: rotate(0deg) skew(0deg);
    -ms-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
    margin-top: 0px;
  }
}
@-moz-keyframes flag-back {
  0% { 
    -webkit-transform: rotate(0deg) skew(0deg);
    -ms-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
    margin-top: 0px;
  }
}
@-o-keyframes flag-back {
  0% { 
    -webkit-transform: rotate(0deg) skew(0deg);
    -ms-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
    margin-top: 0px;
  }
}
@keyframes flag-back {
  0% { 
    -webkit-transform: rotate(0deg) skew(0deg);
    -ms-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
    margin-top: 0px;
  }
}
.ribbon-left, .ribbon-right {
  background: #29293a;
  margin-top: 31px;
  position: absolute;
  height: 60px;
  width: 120px;
  z-index: -300;
}
.ribbon-left {
  float: left;
  margin-left: -32px;
  text-align: center;
  -webkit-animation: flag-end-left 1s ease;
  -moz-animation: flag-end-left 1s ease;
  -o-animation: flag-end-left 1s ease;
  animation: flag-end-left 1s ease;
}
.ribbon-right {
  display: inline;
  margin-left: 3px;
  -webkit-animation: flag-end-right 1s ease;
  -moz-animation: flag-end-right 1s ease;
  -o-animation: flag-end-right 1s ease;
  animation: flag-end-right 1s ease;
}
@-webkit-keyframes flag-end-right {
  0% { 
    margin-top: 0;
    width: 25px;
  }
}
@-moz-keyframes flag-end-right {
  0% { 
    margin-top: 0;
    width: 25px;
  }
}
@-o-keyframes flag-end-right {
  0% { 
    margin-top: 0;
    width: 25px;
  }
}
@keyframes flag-end-right {
  0% { 
    margin-top: 0;
    width: 25px;
  }
}
@-webkit-keyframes flag-end-left {
  0% { 
    margin-top: 0;
    width: 25px;
    margin-left: 63px;
  }
}
@-moz-keyframes flag-end-left {
  0% { 
    margin-top: 0;
    width: 25px;
    margin-left: 63px;
  }
}
@-o-keyframes flag-end-left {
  0% { 
    margin-top: 0;
    width: 25px;
    margin-left: 63px;
  }
}
@keyframes flag-end-left {
  0% { 
    margin-top: 0;
    width: 25px;
    margin-left: 63px;
  }
}
.ribbon-left:before {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 30px solid #29293a;
  border-left: 50px solid transparent;
  float: left;
  margin-left: -50px;
  margin-top: 30px;
}
.ribbon-left:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 30px solid #29293a;
  border-left: 50px solid transparent;
  float: left;
  margin-left: -50px;
  margin-top: 0;
}
.ribbon-right:before {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 30px solid #29293a;
  border-right: 50px solid transparent;
  float: right;
  margin-right: -50px;
  margin-top: 30px;
}
.ribbon-right:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 30px solid #29293a;
  border-right: 50px solid transparent;
  float: right;
  margin-right: -50px;
  margin-top: 0;
}
@media all and (max-width: 1340px) {
  .center-wrap {
    width: 100%;
  }
}
@media all and (max-width: 850px) {
  .title-container {
    font-size: 4.8vw;
  }
}