.tiles
	a.tile(href="#")
		img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/1.jpg")
		.details
			span.title Lorem Ipsum Dolor
			span.info Quisque vel felis lectus donec vitae dapibus magna
	a.tile(href="#")
		img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/2.jpg")
		.details
			span.title Lorem Ipsum Dolor
			span.info Quisque vel felis lectus donec vitae dapibus magna
	a.tile(href="#")
		img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/3.jpg")
		.details
			span.title Lorem Ipsum Dolor
			span.info Quisque vel felis lectus donec vitae dapibus magna
	a.tile(href="#")
		img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/216995/4.jpg")
		.details
			span.title Lorem Ipsum Dolor
			span.info Quisque vel felis lectus donec vitae dapibus magna