.fond{position:absolute;padding-top:85px;top:0;left:0; right:0;bottom:0;
  background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/fond.jpg);background-size:cover;}

.principal
{
  width: 170px;
  height: 170px;
  background-color:#DD4545;
  border-radius: 170px;
  padding: 30px;
}
.principal_petit
{
  width: 170px;
  height: 170px;
  background-color: #ffffff;
  border-radius: 170px;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.principal_petit:hover
{
  -webkit-transform: scale(1.1);
  -webkit-transition:all 0.2s ease-in;
  -moz-transform: scale(1.1);
  -moz-transition:all 0.2s ease-in;
  -ms-transform: scale(1.1);
  -ms-transition:all 0.2s ease-in;
  -o-transform: scale(1.1);
  -o-transition:all 0.2s ease-in;
  transform: scale(1.1);
  transition:all 0.2s ease-in;
}
.principal_img
{
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.principal_img:hover
{
  -webkit-transform: scale(0.7);
  -webkit-transition:all 0.2s ease-in;
  -moz-transform: scale(0.7);
  -moz-transition:all 0.2s ease-in;
  -ms-transform: scale(0.7);
  -ms-transition:all 0.2s ease-in;
  -o-transform: scale(0.7);
  -o-transition:all 0.2s ease-in;
  transform: scale(0.7);
  transition:all 0.2s ease-in;
}